<app-list-component 
    [component]="this"
    [adicionar]="'REGIME_ADICIONAR'"
    [editar]="'REGIME_EDITAR'"
    [detalhar]="'REGIME_DETALHAR'"
    [remover]="'REGIME_REMOVER'"
    >
</app-list-component>

<app-generic-modal [title]="'Filtrar'" [component]="this">
    <div class="row">
        <app-generic-label [width]="'6'">Nome
            <input type="text" name="nome" [(ngModel)]="filter.nome" maxlength="64" modalConfirm
                (changeValue)="filter.nome = $event">
        </app-generic-label>
    </div>
</app-generic-modal>