<app-list-component 
    [component]="this"
    [adicionar]="'CLINICA_ADICIONAR'"
    [editar]="'CLINICA_EDITAR'"
    [detalhar]="'CLINICA_DETALHAR'"
    [remover]="'CLINICA_REMOVER'"
>
</app-list-component>

<app-generic-modal [title]="'Filtrar'" [component]="this">
    <div class="row">
        <app-generic-label [width]="'4'">Nome
            <input type="text" name="nome" [(ngModel)]="filter.nome" maxlength="128" modalConfirm
                (changeValue)="filter.nome = $event">
        </app-generic-label>
        <app-generic-label [width]="'2'">UF
            <app-generic-select [component]="this" [name]="'uf'" [array]="util.ufs"
                (changeValue)="filter.uf = $event">
            </app-generic-select>
        </app-generic-label>
    </div>
</app-generic-modal>