<app-list-component [component]="this" [functions]="[['create','responder']]">
</app-list-component>

<app-generic-modal [title]="'Filtrar'" [component]="this">
  <div class="row">
    <app-generic-label [width]="'8'">Nome do Empregado
      <input type="text" name="nome" [(ngModel)]="filter.checkin.empregado.pessoa.nome" maxlength="400" modalConfirm (changeValue)="filter.checkin.empregado.pessoa.nome = $event">
    </app-generic-label>
  </div>
  <div class="row">
    <app-generic-date-filter [label]="'Data de Chegada'" [property]="'chegada'" [dateFilter]="filter.checkin.chegada" (changeValue)="filter.checkin.chegada=$event">
    </app-generic-date-filter>
  </div>
  <div class="row">
    <app-generic-label [width]="'3'">Status
      <app-generic-select [component]="this" [name]="'status'" [array]="util.statusAvaliacao" (changeValue)="filter.status = $event">
      </app-generic-select>
    </app-generic-label>
  </div>
</app-generic-modal>