<app-list-component 
    [component]="this"
    [adicionar]="'EIXO_ADICIONAR'"
    [editar]="'EIXO_EDITAR'"
    [detalhar]="'EIXO_DETALHAR'"
    [remover]="'EIXO_REMOVER'"
    >
</app-list-component>

<app-generic-modal [title]="'Filtrar'" [component]="this">
    <div class="row">
        <app-generic-label [width]="'7'">Título
            <input type="text" name="titulo" [(ngModel)]="filter.titulo" maxlength="256" modalConfirm
            (changeValue)="filter.titulo = $event">
        </app-generic-label>
    </div>
    <div class="row">
        <app-generic-label [width]="'4'">Equipe
            <input type="text" name="equipe" [(ngModel)]="filter.equipe.nome" maxlength="50" modalConfirm
                (changeValue)="filter.equipe.nome = $event">
        </app-generic-label>
    </div>
</app-generic-modal>