<app-list-component 
    [component]="this"
    [adicionar]="'REGRA-ATENDIMENTO_ADICIONAR'"
    [editar]="'REGRA-ATENDIMENTO_EDITAR'"
    [detalhar]="'REGRA-ATENDIMENTO_DETALHAR'"
    [remover]="'REGRA-ATENDIMENTO_REMOVER'"
    >
</app-list-component>

<app-generic-modal [title]="'Filtrar'" [component]="this">
    <div class="row">
        <app-generic-label [width]="'4'">Nome
            <input type="text" name="nome" [(ngModel)]="filter.nome" maxlength="64" modalConfirm
                (changeValue)="filter.nome = $event">
        </app-generic-label>
    </div>
</app-generic-modal>