<app-list-component 
    [component]="this"
    [adicionar]="'ALIMENTO_ADICIONAR'"
    [editar]="'ALIMENTO_EDITAR'"
    [detalhar]="'ALIMENTO_DETALHAR'"
    [remover]="'ALIMENTO_REMOVER'"
    >
</app-list-component>

<app-generic-modal [title]="'Filtrar'" [component]="this">
    <div class="row">
        <app-generic-label [width]="'8'">Nome
            <input type="text" name="nome" [(ngModel)]="filter.nome" maxlength="400" modalConfirm
            (changeValue)="filter.nome = $event">
        </app-generic-label>
    </div>
    <div class="row">
        <app-generic-label [width]="'6'">Tipo
            <app-generic-select [component]="this" [name]="'tipo'" [array]="util.tiposAlimento"
                (changeValue)="filter.tipo = $event">
            </app-generic-select>
        </app-generic-label>
    </div>
    <div class="row">
        <app-generic-label [width]="'1'">Inativo
            <input type="checkbox" name="inativo" [value]="filter.inativo.value" checkboxFilter
                (changeValue)="filter.inativo.value = $event" />
            <span></span>
        </app-generic-label>
    </div>
</app-generic-modal>