<form class="col s12" #form="ngForm">
  <app-wizard-component [component]="this">
    <div class="row">
      <b>Serviço:</b>{{t.servico.nome}}
    </div>
    <div class="row">
      <app-generic-autocomplete #autocompleteCliente
        [name]="'cliente'" [property]="'pessoa.nome'" [component]="this" [maxLength]="400"
        [service]="servico.getEmpregadoService()" (responseChange)="t.cliente = $event"
        [object]="t.cliente" [width]="'4'" [label]="'Cliente'">
      </app-generic-autocomplete>
    </div>
  </app-wizard-component>
</form>