<app-list-component 
    [component]="this"
    [adicionar]="'LOCALIZACAO_ADICIONAR'"
    [editar]="'LOCALIZACAO_EDITAR'"
    [detalhar]="'LOCALIZACAO_DETALHAR'"
    [remover]="'LOCALIZACAO_REMOVER'"
    >
</app-list-component>

<app-generic-modal [title]="'Filtrar'" [component]="this">
    <div class="row">
        <app-generic-label [width]="'7'">Nome
            <input type="text" name="nome" [(ngModel)]="filter.nome" maxlength="50" modalConfirm
            (changeValue)="filter.nome = $event">
        </app-generic-label>
    </div>
    <div class="row">
        <app-generic-label [width]="'4'">Base
            <input type="text" name="base" [(ngModel)]="filter.base.nome" maxlength="64" modalConfirm
                (changeValue)="filter.base.nome = $event">
        </app-generic-label>
    </div>
</app-generic-modal>