<div class="generic-grid" [ngStyle]="{'height':height}">
  <thead>
    <tr>
      <th *ngFor="let d of def">
        <label style="font-size: medium">
          {{d[0]}}
          <input type="checkbox" (change)="dirtyForm();selectAll(d[1],$event)"
            [disabled]="!d[3] || component._detailMode" *ngIf="d[2]==='checkbox'" />
          <input type="text" *ngIf="d[2]!=='checkbox'" [(ngModel)]="filter[d[1]]" (ngModelChange)="changeFilter(d[1])" />
          <span></span>
        </label>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of (models | gridFilter : filter); let i = index">
      <td [ngClass]="d[2]==='checkbox' ? 'right' : ''" *ngFor="let d of def; let j = index">
        {{ d[2]==='' ? models[i][j][0][models[i][j][1]] : '' }}
        <label *ngIf="d[2]==='checkbox'">
          <input type="checkbox" [(ngModel)]="models[i][j][0][models[i][j][1]]" 
            [disabled]="!d[3] || component._detailMode" (click)="dirtyForm()" />
          <span></span>
        </label>
        <input *ngIf="d[2]==='text'" type="text" maxlength="{{d[4] ? d[4] : 1 }}" [(ngModel)]="models[i][j][0][models[i][j][1]]" 
            [disabled]="!d[3] || component._detailMode" (change)="dirtyForm()" />
        <input *ngIf="d[2]==='integer'" type="text" maxlength="{{d[4] ? d[4] : 1 }}"
            [ngModel]="models[i][j][0][models[i][j][1]]" (changeValue)="models[i][j][0][models[i][j][1]]=$event"
            [disabled]="!d[3] || component._detailMode" (change)="dirtyForm()" integerFormat />
      </td>
      <td class="center">
          <i class="material-icons" *ngIf="delete && !component._detailMode"  
            (click)="remove(i)">delete</i>
      </td>
    </tr>
  </tbody>
</div>