<form class="col s12" #form="ngForm">
  <app-wizard-component [component]="this">
    <div class="row">
      <div class="col s1" *ngIf="!(t.id > 0)">
        <div class="tooltip">
          <i class="large material-icons" (click)="entrarOuVoltar()">play_arrow</i>
          <span class="tooltiptext">Entrar/Voltar para a fila</span>
        </div>
        <div class="tooltip">
          <i class="large material-icons" (click)="pausar()">pause</i>
          <span class="tooltiptext">Pausar a fila</span>
        </div>
        <div class="tooltip">
          <i class="large material-icons" (click)="encerrar()">cancel</i>
          <span class="tooltiptext">Sair da fila</span>
        </div>
        <!--  <i class="large material-icons">note_add</i> -->
      </div>
      <div class="col s1" *ngIf="t.id > 0">
        <div class="tooltip">
          <i class="medium material-icons" (click)="iniciar()" *ngIf="fila && fila.status === 'AGUARDANDO EMPREGADO'">play_arrow</i>
          <span class="tooltiptext">Iniciar atendimento</span>
        </div>
        <div class="tooltip">
          <i class="medium material-icons" (click)="liberar()" *ngIf="fila && fila.status === 'EM ATENDIMENTO'">thumb_up</i>
          <span class="tooltiptext">Liberar empregado</span>
        </div>
        <div class="tooltip">
          <i class="medium material-icons" (click)="finalizar('DISPONÍVEL')"
                *ngIf="fila && (fila.status === 'EM ATENDIMENTO' || fila.status === 'LANÇAMENTO DE INFORMAÇÕES')">done</i>
          <span class="tooltiptext">Finalizar atendimento</span>
        </div>
        <div class="tooltip">
          <i class="medium material-icons" (click)="finalizar('INDISPONÍVEL')"
                *ngIf="fila && (fila.status === 'EM ATENDIMENTO' || fila.status === 'LANÇAMENTO DE INFORMAÇÕES')">done_all</i>
          <span class="tooltiptext">Finalizar atendimento e pausar a fila</span>
        </div>
        <div class="tooltip">
          <i class="medium material-icons" (click)="devolver()">keyboard_return</i>
          <span class="tooltiptext">Devolver empregado para a fila</span>
        </div>
        <div class="tooltip">
          <i class="medium material-icons" (click)="registrarAusencia()">warning</i>
          <span class="tooltiptext">Registrar ausência do empregado</span>
        </div>
      </div>
      <div class="col s11">
        <div class="row">
          <div class="col s1">
          </div>
          <div class="col s11">
            <b>Profissional:</b>{{' '+ (fila && fila.id > 0 ? fila.profissional.empregado.pessoa.nome : '')}}<br>
            <b>Localização:</b>{{' '+ (fila && fila.id > 0 ? fila.localizacao.nome : '')}}<br>
            <b>Status:</b>{{' '+ (fila && fila.id > 0 ? fila.status : '')}}
          </div>
        </div>
        <div class="row" *ngIf="t.id > 0">
          <div class="col s1">
          </div>
          <div class="col s11" >
            <b>Empregado:</b>{{' '+ t.checkin.empregado.pessoa.nome}}<br>
            <app-generic-tab #tab [tabs]="[[fichaColetaTab,'FICHA DE COLETA'],
              [fichaTriagemTab,'FICHA DE TRIAGEM'],
              [acolhimentoTab,'ACOLHIMENTO',!t.acolhimento]]" *ngIf="fila.status !== 'AGUARDANDO EMPREGADO' ">
              <div #fichaColetaTab>
                <div *ngFor="let grupo of util.grupos">
                  <fieldset *ngIf="grupo !== 'TESTE DE FAGERSTRÖM' || 
                      (respostaFuma && respostaFuma.conteudo && respostaFuma.conteudo.length > 0 && 
                          (respostaFuma.conteudo === 'FUMANTE' || respostaFuma.conteudo === 'ABSTÊMIO'))">
                    <b>{{grupo}}</b>
                    <div *ngFor="let resposta of t.checkin.respostas; let i = index">
                      <fieldset *ngIf="resposta.pergunta.grupo.nome === grupo" [ngSwitch]="resposta.pergunta.tipo">
                        <b>{{resposta.pergunta.descricao}}</b><br>
                        <input *ngSwitchCase="'TEXTO'" type="text"
                            name="resposta{{i}}" [(ngModel)]="resposta.conteudo" maxlength="2048" 
                            [disabled]="!util.checkEquipe(resposta,profissional) || _detailMode">
                        <input *ngSwitchCase="'INTEIRO'" type="text"
                            name="resposta{{i}}" [ngModel]="resposta.conteudo" maxlength="16"
                            (changeValue)="resposta.conteudo=$event" integerFormat
                            [disabled]="!util.checkEquipe(resposta,profissional) || _detailMode">
                        <input *ngSwitchCase="'DOUBLE'" type="text"
                            name="resposta{{i}}" [ngModel]="resposta.conteudo" maxlength="16"
                            (changeValue)="resposta.conteudo=$event" numberFormat
                            [disabled]="!util.checkEquipe(resposta,profissional) || _detailMode">
                        <textarea *ngSwitchCase="'TEXTAREA'"
                            name="resposta{{i}}" [(ngModel)]="resposta.conteudo" maxlength="2048"
                            [disabled]="!util.checkEquipe(resposta,profissional) || _detailMode"></textarea>
                        <div>
                          <button *ngIf="resposta.pergunta.path === 'sim-nao'" class="btn-floating waves-effect waves-light left"
                            (click)="util.addItemRespostaFichaColeta(resposta)" 
                            [disabled]="resposta.conteudo !== 'SIM' || !util.checkEquipe(resposta,profissional) || _detailMode"> 
                            <i class="material-icons center-icon">add</i>
                          </button>
                          <button *ngIf="resposta.pergunta.path === 'fuma'" class="btn-floating waves-effect waves-light left"
                            (click)="util.addItemRespostaFichaColeta(resposta)" 
                            [disabled]="!resposta.conteudo || resposta.conteudo === 'NÃO' || !util.checkEquipe(resposta,profissional) || _detailMode"> 
                            <i class="material-icons center-icon">add</i>
                          </button>
                          <app-generic-select *ngSwitchCase="'ENUM'"
                            [object]="resposta.conteudo" [component]="this" [name]="'resposta'+i" 
                            [array]="util.getEnumArray(resposta.pergunta.path)"
                            [disabled]="!util.checkEquipe(resposta,profissional) || _detailMode"
                            (changeValue)="resposta.conteudo=$event; util.checkItemRespostaFichaColeta(resposta);">
                          </app-generic-select>
                          <table class="zui-table highlight" *ngIf="resposta.pergunta.path === 'sim-nao' || resposta.pergunta.path === 'fuma'">
                            <thead *ngIf="resposta.itens && resposta.itens.length > 0">
                              <tr>
                                <td *ngFor="let item of resposta.pergunta.itens"> {{item.titulo}}</td>
                              </tr>
                            </thead>
                            <tr *ngFor="let item of resposta.itens; let j = index">
                              <td *ngFor="let detalhe of item.detalhes; let m = index">
                                <input *ngIf="!util.detalheTemPath(resposta,detalhe)"
                                  type="text" name="resposta{{i}}.item{{j}}.detalhe{{m}}"
                                  [(ngModel)]="detalhe.conteudo" maxlength="2048"
                                  [disabled]="!util.checkEquipe(resposta,profissional) || _detailMode">
                                <app-generic-select *ngIf="util.detalheTemPath(resposta,detalhe)"
                                  [object]="detalhe.conteudo" [component]="this" [name]="'resposta'+i+'.item'+j+'.detalhe'+m" 
                                  [array]="util.getEnumArray(util.detalheTemPath(resposta,detalhe).path)"
                                  [disabled]="!util.checkEquipe(resposta,profissional) || _detailMode"
                                  (changeValue)="detalhe.conteudo=$event;">
                                </app-generic-select>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </fieldset>
                    </div>
                  </fieldset>
                </div>
              </div>
              <div #fichaTriagemTab>
                <div class="row">
                  <app-generic-grid #gridTriagens
                    [id]="'triagens'" [component]="this" [array]="t.triagens" [height]="'350px'"
                    [def]="[['Indicador','indicador.nome','fBold:obrigatorio',''],
                    ['Índice 0','indicador.indice0','','', undefined, undefined, ['indice',0,-1]],
                    ['Índice 1','indicador.indice1','','', undefined, undefined, ['indice',1,-1]],
                    ['Índice 2','indicador.indice2','','', undefined, undefined, ['indice',2,-1]],
                    ['Índice 3','indicador.indice3','','', undefined, undefined, ['indice',3,-1]],
                    ['Índice 4','indicador.indice4','','', undefined, undefined, ['indice',4,-1]]]">
                  </app-generic-grid>
                </div>
              </div>
              <div #acolhimentoTab>
                <div *ngIf="tab.selected === 2">
                  <div class="row">
                    <app-generic-label [width]="'10'">Conduta/Percepção
                      <textarea class="validate text-area" name="conduta" #conduta="ngModel" [(ngModel)]="t.checkin.conduta"
                        maxlength="2048">
                      </textarea>
                      <span class="helper-text" [attr.data-error]="showErrorMessage(conduta.errors)"></span>
                    </app-generic-label>
                  </div>
                  <div *ngFor="let at of atendimentos">
                    <fieldset>
                      <b>{{at.tarefa.equipe.nome}}</b><br>
                      <div *ngFor="let tr of at.triagens">
                        <div class="row" *ngIf="tr.indice >= 0" [ngSwitch]="tr.indice">
                          <div class="col s3">{{tr.indicador.nome}}</div>
                          <div class="col s1">{{tr.indice}}</div>
                          <div class="col s8" *ngSwitchCase="0">{{tr.indicador.indice0}}</div>
                          <div class="col s8" *ngSwitchCase="1">{{tr.indicador.indice1}}</div>
                          <div class="col s8" *ngSwitchCase="2">{{tr.indicador.indice2}}</div>
                          <div class="col s8" *ngSwitchCase="3">{{tr.indicador.indice3}}</div>
                          <div class="col s8" *ngSwitchCase="4">{{tr.indicador.indice4}}</div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
            </app-generic-tab>
          </div>
        </div>
      </div>
    </div>
  </app-wizard-component>
</form>

<app-generic-modal [title]="'Localização'" [component]="modalEntrar">
    <div class="row">
        <app-generic-label [width]="'4'">Localização
            <app-generic-select [component]="this" [name]="'localizacao'" [object]="fila.localizacao" 
                [property]="'nome'" [array]="util.localizacoes" (changeValue)="fila.localizacao = $event">
            </app-generic-select>
        </app-generic-label>
    </div>
</app-generic-modal>