<form class="col s12" #form="ngForm">
  <app-wizard-component [component]="this">
    <div class="row">
      <div class="col s1" *ngIf="!(t.id > 0)">
        <i class="large material-icons" (click)="entrarOuVoltar()">play_arrow</i>
        <i class="large material-icons" (click)="pausar()">pause</i>
        <i class="large material-icons" (click)="encerrar()">cancel</i>
        <i class="large material-icons">note_add</i>
      </div>
      <div class="col s1" *ngIf="t.id > 0">
        <i class="medium material-icons" (click)="iniciar()" *ngIf="fila && fila.status === 'AGUARDANDO EMPREGADO'">play_arrow</i>
        <i class="medium material-icons" (click)="liberar()" *ngIf="fila && fila.status === 'EM ATENDIMENTO'">thumb_up</i>
        <i class="medium material-icons" (click)="finalizar('DISPONÍVEL')"
                *ngIf="fila && (fila.status === 'EM ATENDIMENTO' || fila.status === 'LANÇAMENTO DE INFORMAÇÕES')">done</i>
        <i class="medium material-icons" (click)="finalizar('INDISPONÍVEL')"
                *ngIf="fila && (fila.status === 'EM ATENDIMENTO' || fila.status === 'LANÇAMENTO DE INFORMAÇÕES')">done_all</i>
        <i class="medium material-icons" (click)="devolver()">keyboard_return</i>
        <i class="medium material-icons" (click)="registrarAusencia()">warning</i>
      </div>
      <div class="col s11">
        <div class="row">
          <div class="col s1">
          </div>
          <div class="col s11">
            <b>Profissional:</b>{{' '+ (fila && fila.id > 0 ? fila.profissional.empregado.pessoa.nome : '')}}<br>
            <b>Localização:</b>{{' '+ (fila && fila.id > 0 ? fila.localizacao.nome : '')}}<br>
            <b>Status:</b>{{' '+ (fila && fila.id > 0 ? fila.status : '')}}
          </div>
        </div>
        <div class="row" *ngIf="t.id > 0">
          <div class="col s1">
          </div>
          <div class="col s11" >
            <b>Empregado:</b>{{' '+ t.checkin.empregado.pessoa.nome}}<br>
            <app-generic-tab [tabs]="[[fichaColetaTab,'FICHA DE COLETA'],
              [fichaTriagemTab,'FICHA DE TRIAGEM']]">
              <div #fichaColetaTab>
                <div *ngFor="let grupo of util.grupos">
                  <fieldset>
                    <b>{{grupo}}</b>
                    <div *ngFor="let resposta of t.checkin.respostas; let i = index">
                      <fieldset *ngIf="resposta.pergunta.grupo.nome === grupo" [ngSwitch]="resposta.pergunta.tipo">
                        <b>{{resposta.pergunta.descricao}}</b><br>
                        <input *ngSwitchCase="'TEXTO'" type="text"
                            name="resposta{{i}}" [(ngModel)]="resposta.conteudo" maxlength="2048" 
                            [disabled]="!util.checkEquipe(resposta,profissional) || _detailMode">
                        <input *ngSwitchCase="'INTEIRO'" type="text"
                            name="resposta{{i}}" [ngModel]="resposta.conteudo" maxlength="16"
                            (changeValue)="resposta.conteudo=$event" integerFormat
                            [disabled]="!util.checkEquipe(resposta,profissional) || _detailMode">
                        <input *ngSwitchCase="'DOUBLE'" type="text"
                            name="resposta{{i}}" [ngModel]="resposta.conteudo" maxlength="16"
                            (changeValue)="resposta.conteudo=$event" numberFormat
                            [disabled]="!util.checkEquipe(resposta,profissional) || _detailMode">
                        <textarea *ngSwitchCase="'TEXTAREA'"
                            name="resposta{{i}}" [(ngModel)]="resposta.conteudo" maxlength="2048"
                            [disabled]="!util.checkEquipe(resposta,profissional) || _detailMode"></textarea>
                        <div>
                          <button *ngIf="resposta.pergunta.path === 'sim-nao'" class="btn-floating waves-effect waves-light left"
                            (click)="util.addItemRespostaFichaColeta(resposta)" 
                            [disabled]="resposta.conteudo !== 'SIM' || !util.checkEquipe(resposta,profissional) || _detailMode"> 
                            <i class="material-icons center-icon">add</i>
                          </button>
                          <app-generic-select *ngSwitchCase="'ENUM'"
                            [object]="resposta.conteudo" [component]="this" [name]="'resposta'+i" 
                            [array]="util.getEnumArray(resposta.pergunta.path)"
                            [disabled]="!util.checkEquipe(resposta,profissional) || _detailMode"
                            (changeValue)="resposta.conteudo=$event; util.checkItemRespostaFichaColeta(resposta);">
                          </app-generic-select>
                          <table class="zui-table highlight" *ngIf="resposta.pergunta.path === 'sim-nao'">
                            <thead *ngIf="resposta.conteudo === 'SIM'">
                              <tr>
                                <td *ngFor="let item of resposta.pergunta.itens"> {{item.titulo}}</td>
                              </tr>
                            </thead>
                            <tr *ngFor="let item of resposta.itens; let j = index">
                              <td *ngFor="let detalhe of item.detalhes; let m = index">
                                <input type="text" name="resposta{{i}}.item{{j}}.detalhe{{m}}"
                                  [(ngModel)]="detalhe.conteudo" maxlength="2048"
                                  [disabled]="resposta.conteudo !== 'SIM' || !util.checkEquipe(resposta,profissional) || _detailMode">
                              </td>
                            </tr>
                          </table>
                        </div>
                      </fieldset>
                    </div>
                  </fieldset>
                </div>
              </div>
              <div #fichaTriagemTab>
                <div class="row">
                  <app-generic-grid #gridTriagens
                    [id]="'triagens'" [component]="this" [array]="t.triagens" [height]="'350px'"
                    [def]="[['Indicador','indicador.nome','fBold:obrigatorio',''],
                    ['Índice 0','indicador.indice0','','', undefined, undefined, ['indice',0,-1]],
                    ['Índice 1','indicador.indice1','','', undefined, undefined, ['indice',1,-1]],
                    ['Índice 2','indicador.indice2','','', undefined, undefined, ['indice',2,-1]],
                    ['Índice 3','indicador.indice3','','', undefined, undefined, ['indice',3,-1]],
                    ['Índice 4','indicador.indice4','','', undefined, undefined, ['indice',4,-1]]]">
                  </app-generic-grid>
                </div>
              </div>
            </app-generic-tab>
          </div>
        </div>
      </div>
    </div>
  </app-wizard-component>
</form>

<app-generic-modal [title]="'Localização'" [component]="modalEntrar">
    <div class="row">
        <app-generic-label [width]="'4'">Localização
            <app-generic-select [component]="this" [name]="'localizacao'" [object]="fila.localizacao" 
                [property]="'nome'" [array]="util.localizacoes" (changeValue)="fila.localizacao = $event">
            </app-generic-select>
        </app-generic-label>
    </div>
</app-generic-modal>