<app-list-component 
    [component]="this"
    [adicionar]="'EXAME_ADICIONAR'"
    [editar]="'EXAME_EDITAR'"
    [detalhar]="'EXAME_DETALHAR'"
    [remover]="'EXAME_REMOVER'"
    >
</app-list-component>

<app-generic-modal [title]="'Filtrar'" [component]="this">
    <div class="row">
        <app-generic-label [width]="'2'">Código
            <input type="text" name="codigo" [(ngModel)]="filter.codigo" maxlength="10" modalConfirm
            (changeValue)="filter.codigo = $event">
        </app-generic-label>
    </div>
    <div class="row">
        <app-generic-label [width]="'7'">Descrição
            <input type="text" name="descricao" [(ngModel)]="filter.descricao" maxlength="150" modalConfirm
            (changeValue)="filter.descricao = $event">
        </app-generic-label>
    </div>
</app-generic-modal>