<app-list-component 
    [component]="this"
    [adicionar]="'ATIVIDADE-FISICA_ADICIONAR'"
    [editar]="'ATIVIDADE-FISICA_EDITAR'"
    [detalhar]="'ATIVIDADE-FISICA_DETALHAR'"
    [remover]="'ATIVIDADE-FISICA_REMOVER'"
    >
</app-list-component>

<app-generic-modal [title]="'Filtrar'" [component]="this">
    <div class="row">
        <app-generic-label [width]="'6'">Descrição
            <input type="text" name="descricao" [(ngModel)]="filter.descricao" maxlength="512" modalConfirm
                (changeValue)="filter.descricao = $event">
        </app-generic-label>
    </div>
</app-generic-modal>