<app-list-component 
    [component]="this"
    [adicionar]="'RISCO-GHE_ADICIONAR'"
    [editar]="'RISCO-GHE_EDITAR'"
    [detalhar]="'RISCO-GHE_DETALHAR'"
    [remover]="'RISCO-GHE_REMOVER'"
    >
</app-list-component>

<app-generic-modal [title]="'Filtrar'" [component]="this">
    <div class="row">
        <app-generic-label [width]="'4'">Título
            <input type="text" name="titulo" [(ngModel)]="filter.titulo" maxlength="128" modalConfirm
            (changeValue)="filter.titulo = $event">
        </app-generic-label>
    </div>
</app-generic-modal>