<app-list-component [component]="this" [functions]="[['remove_circle','checkOut'],['content_paste','abrirFichaColeta'],['equalizer','abrirFichaTriagem']]">
</app-list-component>

<app-generic-modal [title]="'Filtrar'" [component]="this">
  <div class="row">
    <app-generic-label [width]="'8'">Nome do Empregado
      <input type="text" name="nome" [(ngModel)]="filter.empregado.pessoa.nome" maxlength="400" modalConfirm (changeValue)="filter.empregado.pessoa.nome = $event">
    </app-generic-label>
  </div>
  <div class="row">
    <app-generic-date-filter [label]="'Data de Chegada'" [property]="'chegada'" [dateFilter]="filter.chegada" (changeValue)="filter.chegada=$event">
    </app-generic-date-filter>
  </div>
  <div class="row">
    <app-generic-label [width]="'3'">Status
      <app-generic-select [component]="this" [name]="'status'" [array]="util.statusCheckins" (changeValue)="filter.status = $event">
      </app-generic-select>
    </app-generic-label>
    <app-generic-label [width]="'4'">Localização
        <input type="text" name="localizacao" [(ngModel)]="filter.localizacao.nome" maxlength="50" modalConfirm (changeValue)="filter.localizacao.nome = $event">
    </app-generic-label>
    <app-generic-label [width]="'4'">Serviço
        <input type="text" name="servico" [(ngModel)]="filter.servico.nome" maxlength="128" modalConfirm (changeValue)="filter.servico.nome = $event">
    </app-generic-label>
  </div>
</app-generic-modal>

<app-generic-form-modal #modalFichaColeta [title]="'Ficha de Coleta'" [service]="servico" [component]="this"
  [disabled] = 'true' [validator]="fichaColetaValidator" (confirm)="salvar($event)">
  <div *ngFor="let grupo of util.grupos">
      <fieldset *ngIf="grupo !== 'TESTE DE FAGERSTRÖM' || 
          (util.respostaFuma && util.respostaFuma.conteudo && util.respostaFuma.conteudo.length > 0 && 
              (util.respostaFuma.conteudo === 'FUMANTE' || util.respostaFuma.conteudo === 'ABSTÊMIO'))">
        <b>{{grupo}}</b>
        <div *ngFor="let resposta of checkin.respostas; let i = index">
          <fieldset *ngIf="resposta.pergunta.grupo.nome === grupo" [ngSwitch]="resposta.pergunta.tipo">
            <b>{{resposta.pergunta.descricao}}</b><br>
            <input *ngSwitchCase="'TEXTO'" type="text"
                name="resposta{{i}}" [(ngModel)]="resposta.conteudo" maxlength="2048" 
                [disabled]="!util.checkEquipe(resposta,fichaColetaValidator.profissional) || _detailMode">
            <input *ngSwitchCase="'INTEIRO'" type="text"
                name="resposta{{i}}" [ngModel]="resposta.conteudo" maxlength="16"
                (changeValue)="resposta.conteudo=$event" integerFormat
                [disabled]="!util.checkEquipe(resposta,fichaColetaValidator.profissional) || _detailMode">
            <input *ngSwitchCase="'DOUBLE'" type="text"
                name="resposta{{i}}" [ngModel]="resposta.conteudo" maxlength="16"
                (changeValue)="resposta.conteudo=$event" numberFormat
                [disabled]="!util.checkEquipe(resposta,fichaColetaValidator.profissional) || _detailMode">
            <textarea *ngSwitchCase="'TEXTAREA'"
                name="resposta{{i}}" [(ngModel)]="resposta.conteudo" maxlength="2048"
                [disabled]="!util.checkEquipe(resposta,fichaColetaValidator.profissional) || _detailMode"></textarea>
            <div>
              <button *ngIf="resposta.pergunta.path === 'sim-nao'" class="btn-floating waves-effect waves-light left"
                (click)="util.addItemRespostaFichaColeta(resposta)" 
                [disabled]="resposta.conteudo !== 'SIM' || !util.checkEquipe(resposta,fichaColetaValidator.profissional) || _detailMode"> 
                <i class="material-icons center-icon">add</i>
              </button>
              <button *ngIf="resposta.pergunta.path === 'fuma'" class="btn-floating waves-effect waves-light left"
                (click)="util.addItemRespostaFichaColeta(resposta)" 
                [disabled]="!resposta.conteudo || resposta.conteudo === 'NÃO' || !util.checkEquipe(resposta,fichaColetaValidator.profissional) || _detailMode"> 
                <i class="material-icons center-icon">add</i>
              </button>
              <app-generic-select *ngSwitchCase="'ENUM'"
                [object]="resposta.conteudo" [component]="this" [name]="'resposta'+i" 
                [array]="util.getEnumArray(resposta.pergunta.path)"
                [disabled]="!util.checkEquipe(resposta,fichaColetaValidator.profissional) || _detailMode"
                (changeValue)="resposta.conteudo=$event; util.checkItemRespostaFichaColeta(resposta);">
              </app-generic-select>
              <table class="zui-table highlight" *ngIf="resposta.pergunta.path === 'sim-nao' || resposta.pergunta.path === 'fuma'">
                <thead *ngIf="resposta.itens && resposta.itens.length > 0">
                  <tr>
                    <td *ngFor="let item of resposta.pergunta.itens"> {{item.titulo}}</td>
                  </tr>
                </thead>
                <tr *ngFor="let item of resposta.itens; let j = index">
                  <td *ngFor="let detalhe of item.detalhes; let m = index">
                    <input *ngIf="!util.detalheTemPath(resposta,detalhe)"
                      type="text" name="resposta{{i}}.item{{j}}.detalhe{{m}}"
                      [(ngModel)]="detalhe.conteudo" maxlength="2048"
                      [disabled]="!util.checkEquipe(resposta,fichaColetaValidator.profissional) || _detailMode">
                    <app-generic-select *ngIf="util.detalheTemPath(resposta,detalhe)"
                      [object]="detalhe.conteudo" [component]="this" [name]="'resposta'+i+'.item'+j+'.detalhe'+m" 
                      [array]="util.getEnumArray(util.detalheTemPath(resposta,detalhe).path)"
                      [disabled]="!util.checkEquipe(resposta,fichaColetaValidator.profissional) || _detailMode"
                      (changeValue)="detalhe.conteudo=$event;">
                    </app-generic-select>
                  </td>
                </tr>
              </table>
            </div>
          </fieldset>
        </div>
      </fieldset>
    </div>
</app-generic-form-modal>

<app-generic-form-modal #modalFichaTriagem [title]="'Ficha de Triagem'" [service]="servico" [component]="this"
  [disabled] = 'true' [btnConfirm]='false'>
  <div *ngFor="let at of atendimentos">
    <fieldset>
      <b>{{at.tarefa.equipe.nome}}</b><br>
      <div *ngFor="let tr of at.triagens">
        <div class="row" *ngIf="tr.indice >= 0 && tr.indice < 3" [ngSwitch]="tr.indice">
          <div class="col s3">{{tr.indicador.nome}}</div>
          <div class="col s1">{{tr.indice}}</div>
          <div class="col s8" *ngSwitchCase="0">{{tr.indicador.indice0}}</div>
          <div class="col s8" *ngSwitchCase="1">{{tr.indicador.indice1}}</div>
          <div class="col s8" *ngSwitchCase="2">{{tr.indicador.indice2}}</div>
        </div>
      </div>
    </fieldset>
  </div>
</app-generic-form-modal>