<form class="col s12" #form="ngForm">
  <app-form-component [component]="this">
    <div class="row">
      <app-generic-label [width]="'4'">Nome
        <input class="validate" type="text" name="nome" #nome="ngModel" [ngModel]="t.nome"
        (ngModelChange)="t.nome=$event.toUpperCase()" maxlength="64" [disabled]="_detailMode" required>
        <span class="helper-text" [attr.data-error]="showErrorMessage(nome.errors)"></span>
      </app-generic-label>
      <app-generic-label [width]="'2'">UF
          <app-generic-select [object]="t.uf" [component]="this" [name]="'uf'" [array]="util.ufs"
            (changeValue)="t.uf = $event">
          </app-generic-select>
      </app-generic-label>
    </div>
  </app-form-component>
</form>