<app-list-component [component]="this" [adicionar]="'PROFISSIOGRAMA_ADICIONAR'" [editar]="'PROFISSIOGRAMA_EDITAR'" [detalhar]="'PROFISSIOGRAMA_DETALHAR'"
    [remover]="'PROFISSIOGRAMA_REMOVER'">
</app-list-component>

<app-generic-modal [title]="'Filtrar'" [component]="this">
    <div class="row">
        <app-generic-label [width]="'7'">Nome
            <input type="text" name="nome" [(ngModel)]="filter.nome" maxlength="128" modalConfirm (changeValue)="filter.nome = $event">
        </app-generic-label>
        <app-generic-label [width]="'3'">Vínculo
            <app-generic-select [component]="this" [name]="'vinculo'" [array]="util.vinculos" (changeValue)="filter.vinculo = $event">
            </app-generic-select>
        </app-generic-label>
        <app-generic-label [width]="'1'">Concluído
            <input type="checkbox" name="concluido" [value]="filter.concluido.value" checkboxFilter (changeValue)="filter.concluido.value = $event"/>
            <span></span>
        </app-generic-label>
    </div>
</app-generic-modal>