<app-list-component 
    [component]="this"
    [adicionar]="'REQUISITO-ASO_ADICIONAR'"
    [editar]="'REQUISITO-ASO_EDITAR'"
    [detalhar]="'REQUISITO-ASO_DETALHAR'"
    [remover]="'REQUISITO-ASO_REMOVER'"
    >
</app-list-component>

<app-generic-modal [title]="'Filtrar'" [component]="this">
    <div class="row">
        <app-generic-label [width]="'4'">Conteúdo
            <input type="text" name="conteudo" [(ngModel)]="filter.conteudo" maxlength="50" modalConfirm
            (changeValue)="filter.conteudo = $event">
        </app-generic-label>
    </div>
</app-generic-modal>