<app-list-component [component]="this" [adicionar]="'GHEE_ADICIONAR'" [editar]="'GHEE_EDITAR'" [detalhar]="'GHEE_DETALHAR'"
    [remover]="'GHEE_REMOVER'">
</app-list-component>

<app-generic-modal [title]="'Filtrar'" [component]="this">
    <div class="row">
        <app-generic-label [width]="'2'">Código
            <input type="text" name="codigo" [(ngModel)]="filter.codigo" maxlength="64" modalConfirm (changeValue)="filter.codigo = $event">
        </app-generic-label>
        <app-generic-label [width]="'5'">Nome
            <input type="text" name="nome" [(ngModel)]="filter.nome" maxlength="64" modalConfirm (changeValue)="filter.nome = $event">
        </app-generic-label>
    </div>
    <div class="row">
        <app-generic-date-filter [label]="'Data de Criação'" [property]="'dataCriacao'" [dateFilter]="filter.dataCriacao" (changeValue)="filter.dataCriacao=$event">
        </app-generic-date-filter>
    </div>
    <div class="row">
        <app-generic-date-filter [label]="'Data de Desativação'" [property]="'dataDesativacao'" [dateFilter]="filter.dataDesativacao"
            (changeValue)="filter.dataDesativacao=$event">
        </app-generic-date-filter>
    </div>
</app-generic-modal>