<app-list-component 
    [component]="this"
    [adicionar]="'SERVICO_ADICIONAR'"
    [editar]="'SERVICO_EDITAR'"
    [detalhar]="'SERVICO_DETALHAR'"
    [remover]="'SERVICO_REMOVER'"
    >
</app-list-component>

<app-generic-modal [title]="'Filtrar'" [component]="this">
    <div class="row">
        <app-generic-label [width]="'1'">Código
            <input type="text" name="codigo" [(ngModel)]="filter.codigo" maxlength="4" modalConfirm
            (changeValue)="filter.codigo = $event">
        </app-generic-label>
        <app-generic-label [width]="'5'">Nome
            <input type="text" name="nome" [(ngModel)]="filter.nome" maxlength="128" modalConfirm
            (changeValue)="filter.nome = $event">
        </app-generic-label>
        <app-generic-label [width]="'4'">Grupo
            <app-generic-select [component]="this" [name]="'grupo'" [array]="util.grupos"
                (changeValue)="filter.grupo = $event">
            </app-generic-select>
        </app-generic-label>
    </div>
    <div class="row">
        <app-generic-label [width]="'1'">Inativo
            <input type="checkbox" name="inativo" [value]="filter.inativo.value" checkboxFilter
                (changeValue)="filter.inativo.value = $event" />
            <span></span>
        </app-generic-label>
        <app-generic-label [width]="'1'">Público
            <input type="checkbox" name="publico" [value]="filter.publico.value" checkboxFilter
                (changeValue)="filter.publico.value = $event" />
            <span></span>
        </app-generic-label>
    </div>
</app-generic-modal>