<app-list-component 
    [component]="this"
    [adicionar]="'ENFASE_ADICIONAR'"
    [editar]="'ENFASE_EDITAR'"
    [detalhar]="'ENFASE_DETALHAR'"
    [remover]="'ENFASE_REMOVER'"
    >
</app-list-component>

<app-generic-modal [title]="'Filtrar'" [component]="this">
    <div class="row">
        <app-generic-label [width]="'6'">Descrição
            <input type="text" name="descricao" [(ngModel)]="filter.descricao" maxlength="256" modalConfirm
                (changeValue)="filter.descricao = $event">
        </app-generic-label>
    </div>
</app-generic-modal>