<nav>
    <div class="nav-wrapper #009688 teal"> 
        <a href="/home" class="brand-logo center">
        <i class="material-icons">cloud</i>INTEGRA Saúde</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
                <div class="menu-icon" (click)="toggleSidebar()">
                    <span class="menu-icon-item"></span>
                    <span class="menu-icon-item"></span>
                    <span class="menu-icon-item"></span>
                </div>
                <div class="router-name"> <h6>{{ router.routerState.snapshot.url }}</h6> </div>
            </li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a (click)="logout()">Sair</a>
            </li>
        </ul>
    </div>
</nav>
<div id="sidebar" class="sidebar">
    <div id="principal">
        <ul><li><a class="menuoption" (click)="goToCadastro()">Cadastro</a></li></ul>
        <ul><li><a class="menuoption" (click)="goToProcesso()">Processo</a></li></ul>
        <ul><li><a class="menuoption" (click)="goToRelatorio()">Relatório</a></li></ul>
    </div>
    <div id="cadastro" style="display: none">
        <ul><li><a class="menuoption" (click)="goToPrincipal()"><i class="material-icons">chevron_left</i></a></li></ul>
        <app-menu-option [label]="'Alimento'" [routerLink]="'/alimento'" [funcionalidade]="'ALIMENTO_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Atividade Física'" [routerLink]="'/atividade-fisica'" [funcionalidade]="'ATIVIDADE-FISICA_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Base'" [routerLink]="'/base'" [funcionalidade]="'BASE_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Cargo'" [routerLink]="'/cargo'" [funcionalidade]="'CARGO_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Cidade'" [routerLink]="'/cidade'" [funcionalidade]="'CIDADE_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Clínica'" [routerLink]="'/clinica'" [funcionalidade]="'CLINICA_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Critério'" [routerLink]="'/criterio'" [funcionalidade]="'CRITERIO_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Curso'" [routerLink]="'/curso'" [funcionalidade]="'CURSO_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Diagnóstico'" [routerLink]="'/diagnostico'" [funcionalidade]="'DIAGNOSTICO_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Eixo Clínico'" [routerLink]="'/eixo'" [funcionalidade]="'EIXO_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Empregado'" [routerLink]="'/empregado'" [funcionalidade]="'EMPREGADO_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Ênfase'" [routerLink]="'/enfase'" [funcionalidade]="'ENFASE_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Equipe'" [routerLink]="'/equipe'" [funcionalidade]="'EQUIPE_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Exame'" [routerLink]="'/exame'" [funcionalidade]="'EXAME_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Função'" [routerLink]="'/funcao'" [funcionalidade]="'FUNCAO_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Gerência'" [routerLink]="'/gerencia'" [funcionalidade]="'GERENCIA_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'GHE'" [routerLink]="'/ghe'" [funcionalidade]="'GHE_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'GHEE'" [routerLink]="'/ghee'" [funcionalidade]="'GHEE_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Grupo de Monitoramento'" [routerLink]="'/grupo-monitoramento'" [funcionalidade]="'GRUPO-MONITORAMENTO_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Grupo de Pergunta da Ficha de Coleta'" [routerLink]="'/grupo-pergunta-ficha-coleta'" [funcionalidade]="'GRUPO-PERGUNTA-FICHA-COLETA_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Imóvel'" [routerLink]="'/imovel'" [funcionalidade]="'IMOVEL_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Indicador da SAST'" [routerLink]="'/indicador-sast'" [funcionalidade]="'INDICADOR-SAST_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Intervenção'" [routerLink]="'/intervencao'" [funcionalidade]="'INTERVENCAO_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Localização'" [routerLink]="'/localizacao'" [funcionalidade]="'LOCALIZACAO_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Medida Caseira'" [routerLink]="'/medida-caseira'" [funcionalidade]="'MEDIDA-CASEIRA_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Parâmetro'" [routerLink]="'/parametro'" [funcionalidade]="'PARAMETRO_EDITAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Perfil'" [routerLink]="'/perfil'" [funcionalidade]="'PERFIL_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Pergunta da Ficha de Coleta'" [routerLink]="'/pergunta-ficha-coleta'" [funcionalidade]="'PERGUNTA-FICHA-COLETA_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Profissiograma'" [routerLink]="'/profissiograma'" [funcionalidade]="'PROFISSIOGRAMA_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Profissional'" [routerLink]="'/profissional'" [funcionalidade]="'PROFISSIONAL_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Questionário'" [routerLink]="'/questionario'" [funcionalidade]="'QUESTIONARIO_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Regime'" [routerLink]="'/regime'" [funcionalidade]="'REGIME_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Regra de Atendimento'" [routerLink]="'/regra-atendimento'" [funcionalidade]="'REGRA-ATENDIMENTO_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Requisito do ASO'" [routerLink]="'/requisito-aso'" [funcionalidade]="'REQUISITO-ASO_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Risco de GHE'" [routerLink]="'/risco-ghe'" [funcionalidade]="'RISCO-GHE_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Serviço'" [routerLink]="'/servico'" [funcionalidade]="'SERVICO_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Tipo de Grupo de Monitoramento'" [routerLink]="'/tipo-grupo-monitoramento'" [funcionalidade]="'TIPO-GRUPO-MONITORAMENTO_LISTAR'" [homeComponent]="this"></app-menu-option>
        <app-menu-option [label]="'Usuário'" [routerLink]="'/usuario'" [funcionalidade]="'USUARIO_LISTAR'" [homeComponent]="this"></app-menu-option>
        <br>
        <br>
    </div>
    <div id="processo" style="display: none">
        <ul><li><a class="menuoption" (click)="goToPrincipal()"><i class="material-icons">chevron_left</i></a></li></ul>
        <app-menu-option [label]="'Atendimento'" [routerLink]="'/atendimento'" [funcionalidade]="'ATENDIMENTO_ATENDIMENTO'" [homeComponent]="this" [group]="'PROCESSO'"></app-menu-option>
        <app-menu-option [label]="'Avaliação do Atendimento'" [routerLink]="'/avaliacao-atendimento'" [funcionalidade]="'AVALIACAO-ATENDIMENTO_RESPONDER'" [homeComponent]="this" [group]="'PROCESSO'"></app-menu-option>
        <app-menu-option [label]="'Check-in'" [routerLink]="'/checkin'" [funcionalidade]="'CHECKIN_CHECKIN'" [homeComponent]="this" [group]="'PROCESSO'"></app-menu-option>
        <app-menu-option [label]="'Check-out'" [routerLink]="'/checkin/checkout'" [funcionalidade]="'CHECKIN_CHECKOUT'" [homeComponent]="this" [group]="'PROCESSO'"></app-menu-option>
        <app-menu-option [label]="'Fila de Atendimento'" [routerLink]="'/atendimento/fila'" [funcionalidade]="'ATENDIMENTO_FILA'" [homeComponent]="this" [group]="'PROCESSO'"></app-menu-option>
        <app-menu-option [label]="'Risco Potencial'" [routerLink]="'/risco-potencial'" [funcionalidade]="'RISCO-POTENCIAL_LISTAR'" [homeComponent]="this" [group]="'PROCESSO'"></app-menu-option>
        <app-menu-option [label]="'Solicitação'" [routerLink]="'/solicitacao'" [funcionalidade]="'SOLICITACAO_SOLICITAR'" [homeComponent]="this" [group]="'PROCESSO'"></app-menu-option>
        <br>
        <br>
    </div>
    <div id="relatorio" style="display: none">
        <ul><li><a class="menuoption" (click)="goToPrincipal()"><i class="material-icons">chevron_left</i></a></li></ul>
        <app-menu-option [label]="'Agenda'" [routerLink]="'/agenda'" [funcionalidade]="'REPORT_AGENDA'" [homeComponent]="this" [group]="'REPORT'"></app-menu-option>
        <app-menu-option [label]="'Tempo de Atendimento'" [routerLink]="'/tempo-atendimento'" [funcionalidade]="'REPORT_TEMPO-ATENDIMENTO'" [homeComponent]="this" [group]="'REPORT'"></app-menu-option>
        <br>
        <br>
    </div>
</div>
<div [ngClass]="showMenu ? 'card-content container' : 'card-content large-container'">
    <div class="row" style="width:93%">
        <br>
        <router-outlet></router-outlet>
        <br>
    </div>
    <br>
</div>